* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ski-page {
    width: 100%;
    height: 110vh;
    padding-top: 10rem;
    margin: 4rem auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}