* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ski-page {
  position: relative;
  width: 100%;
  min-height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem 1rem;
  margin: 7rem 0 3rem 0;
}

.ski-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ski-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.ski-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #0000004d, #00000099);
  z-index: 2;
}